<!-- Navbar -->
<nav class="bg-blue-900 text-white p-6">
    <div class="container mx-auto flex justify-between">
        <a href="/" class="text-2xl font-bold">KUETx</a>
        <div class="text-lg">
            <a href="/story/" class="mx-2">Story</a>
            <a href="https://seagull-lms.netlify.app/" target="_blank" class="mx-2">Frontend</a>
            <a href="https://github.com/Learnathon-By-Geeky-Solutions/seagull" target="_blank" class="mx-2">GitHub</a>
            <a href="https://seagull-production.up.railway.app/api/schema/swagger-ui/" target="_blank" class="mx-2">API Docs</a>
            <a href="/admin/" class="mx-2">Admin</a>
        </div>
    </div>
</nav>