<!-- Navbar -->
<nav class="bg-blue-900 text-white p-4 fixed w-full top-0 z-50 shadow">
    <div class="container mx-auto flex justify-between items-center">
        <a href="/" class="text-2xl font-bold ml-8">KUETx</a>
        <div class="text-lg space-x-6 mr-8">
            <a href="{% url 'home' %}#story" class="hover:text-gray-300">Story</a>
            <a href="{% url 'home' %}#faq-section" class="hover:text-gray-300">FAQ</a>
            <a href="{% url 'home' %}#devlog" class="hover:text-gray-300">Devlog</a>
            <a href="https://seagull-lms.netlify.app/" target="_blank" class="hover:text-gray-300">Frontend</a>
            <a href="https://github.com/Learnathon-By-Geeky-Solutions/seagull" target="_blank" class="hover:text-gray-300">GitHub</a>
            <a href="https://seagull-production.up.railway.app/api/schema/swagger-ui/" target="_blank" class="hover:text-gray-300">API Docs</a>
            <a href="/admin/" class="hover:text-gray-300" target="_blank">Admin</a>
        </div>
    </div>
</nav>