# Virtual Environment
myenv/

# Django Specific
**/__pycache__/
*.pyc
*.pyo
*.pyc
__pycache__/
backend/db.sqlite3

# Environment Variables
.env

# Static and Media Files
staticfiles/
media/

# Logs
*.log

# IDE and OS Files
.idea/
.vscode/
.DS_Store
Thumbs.db

# Pipenv
Pipfile.lock
