# Virtual Environment
myenv/
venv/
.venv/

# Python/Django Specific
__pycache__/
**/__pycache__/
*.py[cod]
*$py.class
*.pyc
*.pyo
backend/db.sqlite3

# Environment Variables
.env
.env.local
.env.*.local

# Static and Media Files
staticfiles/
media/

# Logs
*.log

# IDE and OS Files
.idea/
.vscode/
.DS_Store
Thumbs.db

# Pipenv
Pipfile.lock
